<!-- <button (click)="saveEmployee()">SUBMIT</button> -->

<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employeeForm)">
<div class="panel panel-primary" >
    <!-- <input [(ngModel)]="email" (keyup.enter)="onKeyUp()" name="email123"> {{selectedEmployee | json}} -->
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
  
      <div class="panel-body">
          <div class="form-group">

             <label for="fullname">Full Name </label>
          <!-- {{employeeService.selectedEmployee | json}} -->
             <input  id="fullname"  [(ngModel)]="employeeService.selectedEmployee.fullname"    name="fullname" type="text" class="form-control">
          </div>

        
          <div class="form-group">
              <label for="email">Email</label>
              <input id="email" [(ngModel)]="employeeService.selectedEmployee.email" name="email"   type="text" class="form-control">
          </div>

          <div class="form-group" [class.has-error]="phonnumbercontrol.invalid">
              <label for="phoneNumer" class="control-label">PhoneNumer</label>
              <input id="phoneNumer"[(ngModel)]="employeeService.selectedEmployee.phoneNumer"  name="phoneNumer"type="text" class="form-control" #phonnumbercontrol="ngModel">
                <span class="help-block" *ngIf="phonnumbercontrol.invalid">PhoneNumer is requirred</span>
            </div>

          <div class="form-group">
              <label>Gender</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input value="male"type="radio" name="gender" [(ngModel)]="employeeService.selectedEmployee.gender" >
                  Male
                </label>
                <label class="radio-inline">
                    <input value="female"type="radio" name="gender"  [(ngModel)]="employeeService.selectedEmployee.gender" >
                    Female
                  </label>
               </div>
          </div>

          <div class="form-group">
              <label>ContactPrefernce</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input value="email" type="radio" name="contactPrefernce" [(ngModel)]="employeeService.selectedEmployee.contactPrefernce" >
                  Email
                </label>
                <label class="radio-inline">
                  <input value="phonnumber" type="radio" name="contactPrefernce"  [(ngModel)]="employeeService.selectedEmployee.contactPrefernce" >
                   PhoneNumer
                </label>
             </div>  
           </div>



           <div class="form-group">
              <div class="form-control">
                <label class="checkbox-inline">
                  <input type="checkbox" name="isActive" [(ngModel)]="employeeService.selectedEmployee.isActive" checked>Is Active
                </label>
              </div>
           </div>  



           <div class="form-group">
              <label for="department">
                  Department
                </label>
                <select id="department" name="department" [(ngModel)]="employeeService.selectedEmployee.department" class="form-control">
                    <option *ngFor="let dept of departments" [value]="dept.id">
                    {{dept.name}}
                  </option>
                </select>
           </div>  
         

           <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input id="dob"[(ngModel)]="employeeService.selectedEmployee.dob"  name="dob"type="text" bsDatepicker [bsConfig]="datepickerConfig"  class="form-control">
           </div>

           <div class="form-group">
              <label for="photo">Photo Path</label>
              <input id="photo"[(ngModel)]="employeeService.selectedEmployee.photo" name="photo"type="text" class="form-control">
           </div>

           <div class="panel-footer">
              <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
                {{previewPhoto? "Hide" : "Show"}} Preview</button>
            </div>
           <div class="form-group">
             <img [src]="employeeService.selectedEmployee.photo"  height="200" width="200" *ngIf="previewPhoto"/>
           </div>




      </div>

    <div class="panel-footer">
      <button type='submit'class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-primary" (click)="resetForm(employeeForm)">
          <i class="fa fa-repeat"></i> Reset</button>
    </div>
   
</div>
</form>
{{employeeForm.value | json}}
